@using MvcTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered" style="margin-top: 5px;">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Soyad</th>
        <th>Fotoğraf</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var k in @Model)
    {

        <tr>
            <td>@k.PersonelId</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>
                <img style="width: 40px; height: 40px;" src="@k.PersonelGorsel"/>
            </td>

            <td>@k.Departman.DepartmanAd</td>


            <td><a href="/Personel/PersonelGetir/@k.PersonelId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.PersonelId" class="btn btn-info">Detaylar</a></td>
        </tr>
    }


</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

