@using MvcTicariOtomasyon.Models.Siniflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>Kategori</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
        
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunId</td>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.AlisFiyati</td>
            <td>@u.SatisFiyati</td>
            <td>@u.CategoryId</td>
            <td>
                <div>
                    <img width="30" height="25" src="@u.UrunGorsel" />
                    <div class="photo-text-more">
                        <span class="icon icon-search"></span>
                    </div>
                </div>             
            </td>
            <td><a href="/Urun/UrunSil/@u.UrunId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@u.UrunId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>