@using MvcTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 5px;">
    <tr>
        <th>Seri Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yeni Kalem</th>

    </tr>
    @foreach (var k in @Model)
    {

        <tr>
            <td>@k.FaturaSeriNo @k.FaturaSıraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.FaturaTarih</td>
            <td>@k.Saat</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td>@k.Toplam ₺</td>

            <td><a href="/Fatura/FaturaGetir/@k.FaturaId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaId" class="btn btn-info">Detay</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaId" class="btn btn-default" style="background-color:lightsalmon ">YK</a></td>
        </tr>
    }


</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Fatura Oluştur</a>
<br />

    <!--Popup Kullanımı-->
<button type="button" class="btn btn-danger" style="margin-top:3%" data-toggle="modal" data-target="#Modal1">Popup</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Popup dialog ekranı</h5>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.FaturaSeriNo</td>
                            <td>@x.FaturaSıraNo</td>
                            <td>@x.Toplam</td>
                        </tr>
                    }

                </table>
                <button type="button" class="btn btn btn-info" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>
