@using MvcTicariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top: 5px;">
    <tr>
        <th>Seri Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Popup Liste</th>
        <th>Yeni Kalem</th>
       
    </tr>
    @foreach (var k in @Model)
    {

        <tr>
            <td>@k.FaturaSeriNo @k.FaturaSıraNo</td>
            <td>@k.VergiDairesi</td>
            <td>@k.FaturaTarih</td>
            <td>@k.Saat</td>
            <td>@k.TeslimEden</td>
            <td>@k.TeslimAlan</td>
            <td>@k.Toplam ₺</td>

            <td><a href="/Fatura/FaturaGetir/@k.FaturaId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaId" class="btn btn-info">Detay</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaId" class="btn btn-default" style="background-color: blueviolet">Popup</a></td>
            <td><a href="/Fatura/FaturaDetay/@k.FaturaId" class="btn btn-default" style="background-color:lightsalmon ">YK</a></td>
        </tr>
    }


</table>
<a href="/Fatura/FaturaEkle" class="btn btn-primary">Fatura Oluştur</a>



